.complete{
   width: 100%;
}
.half{
    width: 50%;
}
.Third{
    width: 33%;
}
.column{
	height: 70vh;
	padding: 1em;
	overflow-y: scroll;
}
.border{
    height: 55vh;
    overflow-y: scroll;
	flex:1
}
.root{
	min-height:60vh;
}
#root{
	min-height:60vh;
}
.rr{
	float: right;
}

.HoverGrid{
    color: white;
    :hover{color: #ed1212;}
}


*{
	font-family: Montserrat;
}



#main_navigation ul 
    {display:table;
    width:100%;}
#main_navigation ul li {
    list-style-type: none;
    display: table-cell;
    padding: 2em;
}


